body{
    background-size: cover;
    background-image: url(https://img.freepik.com/free-vector/abstract-watercolor-background_23-2149038179.jpg?semt=ais_hybrid);
}
.card{
    height: 560px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    margin-left: 560px;
    box-shadow: 6px 6px 6px 6px;
    border-radius: 20px;
}

.btn{
    margin-left: 145px;
    background-color: #FA8072;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}